{% extends 'base.html' %}

{% block title %} Posts {% endblock title %}

{% block content %}
<h1>Posts</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
            <td class="px-2">{{ post.title }}</td>
            <td class="px-2">{{ post.subtitle }}</td>
            <td class="px-2">{{ post.created_at }}</td>
            <td class="px-2">
                <a href="{% url 'detail' post.id %}" class="btn btn-success">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}